<div>
    <div>
    <% if current_user != nil %>
            <%= notice %>
            <h1> Delivery Tracker </h1>
  
            <p>Know if something gets lost in the mail.</p>

            <hr>

            <h2>Expecting a package?</h2>

            <form action="/insert_delivery" method="post">
                <div>
                    <label for="description_box">Description</label>

                    <input type="text" id="description_box" name="query_description">
                </div>

                <div>
                    <label for="supposed_to_arrive_on_box">Supposed to arrive on </label>

                    <input type="date" id="supposed_to_arrive_on_box" name="query_supposed_to_arrive_on">
                </div>

                <div>
                    <label for="details_box">Details</label>

                    <textarea id="details_box" name="query_details" rows="3"></textarea>


                </div>

                <button>Log delivery</button>
            </form>
    </div>
</div>

<hr>

<div class="waiting_on">


    <h2>Waiting on</h2>

    <ul>

    <%  @deliveries.each do |item|  %>
        <% if item.status == "waiting" %>

            <li>
                <div><%= item.name %></div>

                <% date_difference = DateTime.now - item.arrival_date  %>
                <% if date_difference.to_i > 3 %>
                    <div style="color:red">Supposed to arrive on <%= item.arrival_date %></div>

                <% else %>
                    <div style="color:black">Supposed to arrive on <%= item.arrival_date %></div>

                <% end %>


                <div><%= item.description %></div>

                <div>
                    <form action="/modify_delivery/<%= item.id %>" method="post">
                        <input type="hidden" name="arrived" value="true">

                        <button>Mark as received</button>
                    </form>
                </div>
                <br>
            </li>

        <% end # Of condition block %>

    <% end # Of loop. %>
  
    </ul>
</div>

<hr>

<div class="received">

    <h2>Received</h2>

    <ul>

    <%  @deliveries.each do |item|  %>

        <% if item.status == "received" %>

            <li>
                <div><%= item.name %></div>



                <div><small>Updated <%= time_ago_in_words(item.updated_at) + " ago" %>  <a href="/delete_delivery/<%= item.id %>">Delete</a></small></div>
                
            </li>

        <% end # Of condition block %>

    <% end # Of loop. %>

    </ul>

    <% end # Of outermost condition check.  ( check is user = nil. ) %>

</div>
